@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column; /* 垂直排列子元素 */
  min-height: 100vh;     /* 确保内容至少占满整个视口高度 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app-container {
  flex: 1;        
  display: flex;
  /* padding: 20px; 可选: 添加内边距      */
}

