.wallet-container {
    margin-left: auto; /* 将钱包组件推到右侧 */
}

.header-container {
    background-color: #f8f9fa; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.header-container a {
    text-decoration: none;
    color: #007bff; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.header-container a:hover {
    color: #0056b3; 
}

.header-container a.active {
    color: #dc3545; 
}

